[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
do-py = "==0.3.5"
sqlalchemy = "*"
pymysql = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-forked = "*"
pytest-timeout = "*"
pytest-xdist = "*"
coverage = "*"
twine = "*"
ipython = "*"
ipdb = "*"
pyhumps = "*"
