[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
do-py = "==0.4.0"
sqlalchemy = "==1.4.27"
pymysql = "==1.0.2"
pyhumps = "==3.0.2"

[dev-packages]
pytest = "==7.3.1"
pytest-cov = "==4.0.0"
pytest-forked = "==1.6.0"
pytest-timeout = "==2.1.0"
pytest-xdist = "==3.3.1"
coverage = "==7.2.5"
twine = "==4.0.2"
ipython = "==8.12.2"
ipdb = "==0.13.13"
